fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
firebase-admin==7.1.0
python-multipart==0.0.20
Pillow==11.3.0
pgvector==0.4.1
httpx==0.28.1
razorpay==1.4.2
setuptools<81
open_clip_torch==2.32.0
sentence-transformers==3.2.1
torch>=2.9.0,<3
